---
import DocsLayout from "../../layouts/DocsLayout.astro";
import CodeBlock from "../../components/CodeBlock.astro";
import { t, type Lang } from "../../i18n/translations";

export function getStaticPaths() {
  return [{ params: { lang: "en" } }, { params: { lang: "ja" } }];
}

const { lang } = Astro.params as { lang: Lang };
---

<DocsLayout
  lang={lang}
  title={t(lang, "classes.title") + "  NoShift.js"}
  currentPath={`/${lang}/classes/`}
  prev={{ href: `/${lang}/capitalize/`, title: t(lang, "nav.capitalize") }}
  next={{ href: `/${lang}/cli/`, title: t(lang, "nav.cli") }}
>
  <h1>{t(lang, "classes.title")}</h1>
  <p set:html={t(lang, "classes.introDesc")} />

  <h2>{t(lang, "classes.basicTitle")}</h2>
  <p set:html={t(lang, "classes.basicDesc")} />
  <CodeBlock
    lang="nsjs"
    code={`class ^3animal ^[
  constructor^8name^9 ^[
    this.name ^- name;
  ^]

  speak^8^9 ^[
    console.log^8^@^4^[this.name^] speaks.^@^9;
  ^]
^]

const dog ^- new ^3animal^8^2^3dog^2^9;
dog.speak^8^9;`}
  />
  <p>{lang === "ja" ? "コンパイル後:" : "Compiles to:"}</p>
  <CodeBlock
    lang="javascript"
    code={`class Animal {
  constructor(name) {
    this.name = name;
  }

  speak() {
    console.log(\`\${this.name} speaks.\`);
  }
}

const dog = new Animal("Dog");
dog.speak();`}
  />

  <h2>{t(lang, "classes.inheritTitle")}</h2>
  <p set:html={t(lang, "classes.inheritDesc")} />
  <CodeBlock
    lang="nsjs"
    code={`class ^3dog extends ^3animal ^[
  constructor^8name^9 ^[
    super^8name^9;
  ^]

  bark^8^9 ^[
    console.log^8^@^4^[this.name^] barks!^@^9;
  ^]
^]

const d ^- new ^3dog^8^2^3rex^2^9;
d.bark^8^9;`}
  />
  <p>{lang === "ja" ? "コンパイル後:" : "Compiles to:"}</p>
  <CodeBlock
    lang="javascript"
    code={`class Dog extends Animal {
  constructor(name) {
    super(name);
  }

  bark() {
    console.log(\`\${this.name} barks!\`);
  }
}

const d = new Dog("Rex");
d.bark();`}
  />

  <h2>{t(lang, "classes.methodTitle")}</h2>
  <p set:html={t(lang, "classes.methodDesc")} />
  <CodeBlock
    lang="nsjs"
    code={`class ^3person ^[
  constructor^8name, age^9 ^[
    this.name ^- name;
    this.age ^- age;
  ^]

  get^3info^8^9 ^[
    return ^@^4^[this.name^] ^8^4^[this.age^]^9^@;
  ^]

  set^3name^8new^3name^9 ^[
    this.name ^- new^3name;
  ^]
^]`}
  />
  <p>{lang === "ja" ? "コンパイル後:" : "Compiles to:"}</p>
  <CodeBlock
    lang="javascript"
    code={`class Person {
  constructor(name, age) {
    this.name = name;
    this.age = age;
  }

  getInfo() {
    return \`\${this.name} (\${this.age})\`;
  }

  setName(newName) {
    this.name = newName;
  }
}`}
  />

  <h2>{t(lang, "classes.staticTitle")}</h2>
  <p set:html={t(lang, "classes.staticDesc")} />
  <CodeBlock
    lang="nsjs"
    code={`class ^3math^3helper ^[
  static ^3p^3i ^- 3.14159;

  static circle^3area^8r^9 ^[
    return ^3math^3helper.^3p^3i ^: r ^: r;
  ^]
^]

console.log^8^3math^3helper.circle^3area^85^9^9;`}
  />
  <p>{lang === "ja" ? "コンパイル後:" : "Compiles to:"}</p>
  <CodeBlock
    lang="javascript"
    code={`class MathHelper {
  static PI = 3.14159;

  static circleArea(r) {
    return MathHelper.PI * r * r;
  }
}

console.log(MathHelper.circleArea(5));`}
  />
</DocsLayout>
